# Ignore dependencies and build files in both frontend and backend
frontend/node_modules/
frontend/dist/
backend/vendor/
backend/node_modules/
backend/public/storage/
backend/storage/*.key

# Ignore environment and IDE files
**/.env
**/.env.local
*.log
.DS_Store
.idea/
.vscode/
